$include /etc/inputrc

set completion-ignore-case on

set blink-matching-paren on

set colored-stats on

set show-all-if-ambiguous on

set menu-complete-display-prefix on

set editing-mode vi
set show-mode-in-prompt on
set vi-ins-mode-string \1\e[6 q\2
set vi-cmd-mode-string \1\e[2 q\2

$if mode=vi

 set keymap vi-command

  "diw": "lbdw"
  "yiw": "lbyw"
  "ciw": "lbcw"

  "da\"": "lF\"df\""
  "di\"": "lF\"lmtf\"d`t"
  "ci\"": "di\"i"
  "ca\"": "da\"i"
  "ya\"":"lF\"yf\""

  "da'": "lF'df'"
  "di'": "lF'lmtf'd`t"
  "ci'": "di'i"
  "ca'": "da'i"

  "da`": "lF\`df\`"
  "di`": "lF\`lmtf\`d`t"
  "ci`": "di`i"
  "ca`": "da`i"

  "da(": "lF(df)"
  "di(": "lF(lmtf)d`t"
  "ci(": "di(i"
  "ca(": "da(i"
  "da)": "lF(df)"
  "di)": "lF(lmtf)d`t"
  "ci)": "di(i"
  "ca)": "da(i"

  "da{": "lF{df}"
  "di{": "lF{lmtf}d`t"
  "ci{": "di{i"
  "ca{": "da{i"
  "da}": "lF{df}"
  "di}": "lF{lmtf}d`t"
  "ci}": "di}i"
  "ca}": "da}i"

  "da[": "lF[df]"
  "di[": "lF[lmtf]d`t"
  "ci[": "di[i"
  "ca[": "da[i"
  "da]": "lF[df]"
  "di]": "lF[lmtf]d`t"
  "ci]": "di]i"
  "ca]": "da]i"

  "da<": "lF<df>"
  "di<": "lF<lmtf>d`t"
  "ci<": "di<i"
  "ca<": "da<i"
  "da>": "lF<df>"
  "di>": "lF<lmtf>d`t"
  "ci>": "di>i"
  "ca>": "da>i"

 set keymap vi-insert

$endif
